body{
    background-color: #1e1e1e;
}


.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.left-cont{
    display: flex;
}
.main-page-btn{
    
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #FF4500;
}
.exit-button{
    
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #8B0000;

}
.enter-button{
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #04c4d2;
    float: right;
}



.container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 280px;}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffe6;
}

.margin{
    margin: 10px 10px 10px;
}
.container-for-object{
    display: flex;
    flex-wrap: wrap;
    background: #1e1e1e;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 300px;
    
}
.container-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
    ;    
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0px;
}